<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>PP Strona</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Witaj na stronie rodzinnej</h2>

    <p>
        To jest prywatna strona z systemem kont i Pozytywnych Punktów (PP).
    </p>

    <p>
        Aby korzystać ze strony, musisz się zalogować lub zarejestrować.
    </p>

    <a href="/login">
        <button>Zaloguj się</button>
    </a>

    <a href="/register">
        <button>Zarejestruj się</button>
    </a>
</div>

</body>
</html>